/* .perfil es el div */
body{
    background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
}
.perfil{
    width: 70%;
    background-color: cadetblue;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}
p{
    font-family: sans-serif;
}
span{
    color: blueviolet;
    font-weight: bolder;
}
img{
    width: 35%;
    background-color: brown;
    margin-left:auto;
    margin-right:auto;
    
}