body{
    background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
    font-family:monospace;
}
/* .perfil es el div */
.perfil{
    /* width es el ancho, max width es el maximo ancho para no separecerse tanto */
    width: 70%;
    max-width: 500px;
    background-color: cadetblue;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    /* padding es el espacio al rededor del div */
    padding: 30px;
}
p{

}
span{
    color: blueviolet;
    font-weight: bolder;
}
img{
    width: 35%;
    background-color: brown;
    margin-left:auto;
    margin-right:auto;
}